[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
nltk = "*"
chardet = "*"
matplotlib = "*"
scikit-learn = "*"
tensorflow = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.12"
