-i https://pypi.org/simple
absl-py==2.1.0; python_version >= '3.7'
astunparse==1.6.3
certifi==2024.7.4; python_version >= '3.6'
chardet==5.2.0; python_version >= '3.7'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
contourpy==1.2.1; python_version >= '3.9'
cycler==0.12.1; python_version >= '3.8'
flatbuffers==24.3.25
fonttools==4.53.1; python_version >= '3.8'
gast==0.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
gensim==4.3.3; python_version >= '3.8'
google-pasta==0.2.0
grpcio==1.65.4; python_version >= '3.8'
h5py==3.11.0; python_version >= '3.8'
idna==3.7; python_version >= '3.5'
joblib==1.4.2; python_version >= '3.8'
keras==3.5.0; python_version >= '3.9'
kiwisolver==1.4.5; python_version >= '3.7'
libclang==18.1.1
markdown==3.6; python_version >= '3.8'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
matplotlib==3.9.1.post1; python_version >= '3.9'
mdurl==0.1.2; python_version >= '3.7'
ml-dtypes==0.4.0; python_version >= '3.9'
namex==0.0.8
nltk==3.8.2; python_version >= '3.8'
numpy==1.26.4; python_version >= '3.9'
opt-einsum==3.3.0; python_version >= '3.5'
optree==0.12.1; python_version >= '3.7'
packaging==24.1; python_version >= '3.8'
pandas==2.2.2; python_version >= '3.9'
pillow==10.4.0; python_version >= '3.8'
protobuf==4.25.4; python_version >= '3.8'
pygments==2.18.0; python_version >= '3.8'
pyparsing==3.1.2; python_full_version >= '3.6.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2024.1
regex==2024.7.24; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
rich==13.7.1; python_full_version >= '3.7.0'
scikit-learn==1.5.1; python_version >= '3.9'
scipy==1.13.1; python_version >= '3.9'
setuptools==72.1.0; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smart-open==7.0.4; python_version >= '3.7' and python_version < '4.0'
tensorboard==2.17.0; python_version >= '3.9'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.17.0; python_version >= '3.9'
termcolor==2.4.0; python_version >= '3.8'
threadpoolctl==3.5.0; python_version >= '3.8'
tqdm==4.66.5; python_version >= '3.7'
typing-extensions==4.12.2; python_version >= '3.8'
tzdata==2024.1; python_version >= '2'
urllib3==2.2.2; python_version >= '3.8'
werkzeug==3.0.3; python_version >= '3.8'
wheel==0.44.0; python_version >= '3.8'
wrapt==1.16.0; python_version >= '3.6'
